.header {
    margin: 0 17px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #3981d3;
    border-radius: 5px;
}

.header img {
    width: 50px;
    border-radius: 50%;
}